REACT_APP_ANALYTICS_TRACKER=

REACT_APP_NETWORK_ID=137
REACT_APP_RPC_URL=https://polygon-rpc.com

REACT_APP_LOTTERY_ADDRESS=0x0014f328444C3f31Cfe3be47798046e6b1a93278
REACT_APP_TOKEN_ADDRESS=0x7F160C209433fAbb9455Ac21deFd4D8fc4872077
REACT_APP_CONTROLLER_ADDRESS=0xdB07181d00A48Fb8Ab51831aB081E2D5a9A42b2C

REACT_APP_MATIC_USD_PRICE_FEED=0xAB594600376Ec9fD91F8e885dADF0CE036862dE0
REACT_APP_EUR_USD_PRICE_FEED=0x73366Fe0AA0Ded304479862808e02506FE556a98
REACT_APP_GBP_USD_PRICE_FEED=0x099a2540848573e94fb1Ca0Fa420b00acbBc845a

# Unix timestamp (in milliseconds) of the first drawing. The date of subsequent drawings will be
# calculated by adding 7 days for every round.
REACT_APP_FIRST_DRAW_DATE=
